---
# Exercise
---

## loc and iloc (1)

With [<u>`loc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) and [<u>`iloc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) you can do practically any data selection operation on DataFrames you can think of. [<u>`loc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) is label-based, which means that you have to specify rows and columns based on their row and column labels. [<u>`iloc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

Try out the following commands in the IPython Shell to experiment with [<u>`loc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) and [<u>`iloc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) to select observations. Each pair of commands here gives the same result.

``` python
cars.loc['RU']
cars.iloc[4]

cars.loc[['RU']]
cars.iloc[[4]]

cars.loc[['RU', 'AUS']]
cars.iloc[[4, 1]]
```

In [5]:
# IPython Shell
cars.loc['RU']

cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object

In [6]:
cars.iloc[4]

cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object

In [7]:
cars.loc[['RU']]

    cars_per_cap country  drives_right
RU           200  Russia          True

In [8]:
cars.iloc[[4]]

    cars_per_cap country  drives_right
RU           200  Russia          True

In [9]:
cars.loc[['RU', 'AUS']]

     cars_per_cap    country  drives_right
RU            200     Russia          True
AUS           731  Australia         False

In [10]:
cars.iloc[[4, 1]]

     cars_per_cap    country  drives_right
RU            200     Russia          True
AUS           731  Australia         False

---
### Instructions `100xp`
---

* Use [<u>`loc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) or [<u>`iloc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) to select the observation corresponding to Japan as a Series. The label of this row is `JPN`, the index is 2. Make sure to print the resulting Series.
* Use [<u>`loc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) or [<u>`iloc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) to select the observations for Australia and Egypt as a DataFrame. You can find out about the labels/indexes of these rows by inspecting `cars` in the IPython Shell. Make sure to print the resulting DataFrame.

---

In [19]:
# script.py

# Import cars data
import pandas as pd
cars = pd.read_csv('00_1_cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.loc['JAP'])

# Print out observations for Australia and Egypt
print(cars.loc[['AUS', 'EG']])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True