---
# Exercise
---

## loc and iloc (2)

`loc` and [<u>`iloc`</u>](http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing) also allow you to select both rows and columns from a DataFrame. To experiment, try out the following commands in the IPython Shell. Again, paired commands produce the same result.

``` python
cars.loc['IN', 'cars_per_cap']
cars.iloc[3, 0]

cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]

cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars.iloc[[3, 4], [0, 1]]
```

In [3]:
# IPython Shell
cars.loc['IN', 'cars_per_cap']

18

In [4]:
cars.iloc[3, 0]

18

In [5]:
cars.loc[['IN', 'RU'], 'cars_per_cap']

IN     18
RU    200
Name: cars_per_cap, dtype: int64

In [6]:
cars.iloc[[3, 4], 0]

IN     18
RU    200
Name: cars_per_cap, dtype: int64

In [7]:
cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]

    cars_per_cap country
IN            18   India
RU           200  Russia

In [8]:
cars.iloc[[3, 4], [0, 1]]

    cars_per_cap country
IN            18   India
RU           200  Russia

---
### Instructions `100xp`
---

* Print out the `drives_right` value of the row corresponding to Morocco (its row label is `MOR`)
* Print out a sub-DataFrame, containing the observations for Russia and Morocco and the columns `country` and `drives_right`.

---

In [13]:
# script.py

# Import cars data
import pandas as pd
cars = pd.read_csv('00_1_cars.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc[['MOR'], ['drives_right']])

# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'],['country', 'drives_right']])

     drives_right
MOR          True
     country  drives_right
RU    Russia          True
MOR  Morocco          True