---
# Exercise
---

<h1 class="exercise--title">The Hello World of SQL Queries!</h1>
<p>Now, it's time for liftoff! In this exercise, you'll perform the Hello World of SQL queries, <code>SELECT</code>, in order to retrieve all columns of the table <code>Album</code> in the Chinook database. Recall that the query <code>SELECT *</code> selects all columns.</p>

---
### Instructions `100xp`
---

<ul>
    <li>Open the engine connection as <code>con</code> using the method <code>connect()</code> on the engine.</li>
    <li>Execute the query that <strong>selects</strong> <em>ALL columns</em> <strong>from</strong> the <code>Album</code> table. Store the results in <code>rs</code>.</li>
    <li>Store all of your query results in the DataFrame <code>df</code> by applying the <code>fetchall()</code> method to the results <code>rs</code>.</li>
    <li>Close the connection!</li>
</ul>

---

In [2]:
# script.py

# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///00_1_Chinook.sqlite')

# Open engine connection: con
con = engine.connect()

# Perform query: rs
rs = con.execute('SELECT * FROM Album')

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

   0                                      1  2
0  1  For Those About To Rock We Salute You  1
1  2                      Balls to the Wall  2
2  3                      Restless and Wild  2
3  4                      Let There Be Rock  1
4  5                               Big Ones  3