---
# Exercise
---

<h1 class="exercise--title">Customizing the Hello World of SQL Queries</h1>
<p>Congratulations on executing your first SQL query! Now you're going to figure out how to customize your query in order to:</p>
<ul>
    <li>Select specified columns from a table;</li>
    <li>Select a specified number of rows;</li>
    <li>Import column names from the database table.</li>
</ul>
<p>Recall that Hugo performed a very similar query customization in the video:</p>

``` python
engine = create_engine('sqlite:///Northwind.sqlite')

with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()
```

<p>Packages have already been imported as follows:</p>

``` python
from sqlalchemy import create_engine
import pandas as pd
```

<p>The engine has also already been created:</p>

``` python
engine = create_engine('sqlite:///Chinook.sqlite')
```

<p>The engine connection is already open with the statement</p>

``` python
with engine.connect() as con:
```

<p>All the code you need to complete is within this context.</p>

---
### Instructions `100xp`
---

<ul>
    <li>Execute the SQL query that <strong>selects</strong> the columns <code>LastName</code> and <code>Title</code> <strong>from</strong> the <code>Employee</code> table. Store the results in the variable <code>rs</code>.</li>
    <li>Apply the method <code>fetchmany()</code> to <code>rs</code> in order to retrieve 3 of the records. Store them in the DataFrame <code>df</code>.</li>
    <li>Using the <code>rs</code> object, set the DataFrame's column names to the corresponding names of the table columns.</li>
</ul>

---

In [2]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///00_1_Chinook.sqlite')

In [3]:
# script.py

# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('SELECT LastName, Title FROM Employee')
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

3
  LastName                Title
0    Adams      General Manager
1  Edwards        Sales Manager
2  Peacock  Sales Support Agent