---
# Exercise
---

<h1 class="exercise--title">Filtering your database records using SQL's WHERE</h1>
<p>You can now execute a basic SQL query to select records from any table in your database and you can also perform simple query customizations to select particular columns and numbers of rows.</p>
<p>There are a couple more standard SQL query chops that will aid you in your journey to becoming an SQL ninja.</p>
<p>Let's say, for example that you wanted to get all records from the <code>Customer</code> table of the Chinook database for which the <code>Country</code> is <code>'Canada'</code>. You can do this very easily in SQL using a <code>SELECT</code> statement followed by a <code>WHERE</code> clause as follows:</p>

``` python
SELECT * FROM Customer WHERE Country = 'Canada'
```

<p>In fact, you can filter any <code>SELECT</code> statement by any condition using a <code>WHERE</code> clause. This is called <em>filtering</em> your records.</p>
<p>In this interactive exercise, you'll select all records of the <code>Employee</code> table for which <code>'EmployeeId'</code> is greater than or equal to <code>6</code>.</p>
<p>Packages are already imported as follows:</p>

``` python
import pandas as pd
from sqlalchemy import create_engine
```

<p>Query away!</p>

---
### Instructions `100xp`
---

<ul>
    <li>Complete the argument of <code>create_engine()</code> so that the engine for the SQLite database <code>'Chinook.sqlite'</code> is created.</li>
    <li>Execute the query that <strong>selects</strong> <em>all</em> records <strong>from</strong> the <code>Employee</code> table <strong>where</strong> <code>'EmployeeId'</code> is greater than or equal to <code>6</code>. Use the <code>&gt;=</code> operator and assign the results to <code>rs</code>.</li>
    <li>Apply the method <code>fetchall()</code> to <code>rs</code> in order to fetch all records in <code>rs</code>. Store them in the DataFrame <code>df</code>.</li>
    <li>Using the <code>rs</code> object, set the DataFrame's column names to the corresponding names of the table columns.</li>
</ul>

---

In [ ]:
# script.py

# Create engine: engine


# Open engine in context manager
with engine.connect() as con:
    rs = ____
    df = ____

    # Set the DataFrame's column names


# Print head of DataFrame
print(df.head())