---
# Exercise
---

<h1 class="exercise--title">Pandas and The Hello World of SQL Queries!</h1>
<p>Here, you'll take advantage of the power of <code>pandas</code> to write the results of your SQL query to a DataFrame in one swift line of Python code!</p>
<p>You'll first import <code>pandas</code> and create the SQLite <code>'Chinook.sqlite'</code> engine. Then you'll query the database to select all records from the <code>Album</code> table.</p>
<p>Recall that to select all records from the <code>Orders</code> table in the Northwind database, Hugo executed the following command:</p>

``` python
df = pd.read_sql_query("SELECT * FROM Orders", engine)
```

---
### Instructions `100xp`
---

<ul>
    <li>Import the <code>pandas</code> package using the alias <code>pd</code>.</li>
    <li>Using the function <code>create_engine()</code>, create an engine for the SQLite database <code>Chinook.sqlite</code> and assign it to the variable <code>engine</code>.</li>
    <li>Use the <code>pandas</code> function <code>read_sql_query()</code> to assign to the variable <code>df</code> the DataFrame of results from the following query: <strong>select</strong> <em>all</em> records <strong>from</strong> the table <code>Album</code>.</li>
    <li>The remainder of the code is included to confirm that the DataFrame created by this method is equal to that created by the previous method that you learned.</li>
</ul>

---

In [1]:
# script.py

# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///00_1_Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Album', engine)

# Print head of DataFrame
print(df.head())

# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
True