---
# Exercise
---

<h1 class="exercise--title">Using read_stata to import Stata files</h1>
<p>The <code>pandas</code> package has been imported in the environment as <code>pd</code> and the file <code>disarea.dta</code> is in your working directory. The data consist of disease extents for several diseases in various countries (more information can be found <a href="http://www.cid.harvard.edu/ciddata/geog/readme_disarea.html" target="_blank" rel="noopener noreferrer">here</a>).</p>
<p>What is the correct way of using the <code>read_stata()</code> function to import
<code>disarea.dta</code> into the object <code>df</code>?</p>

---
### Instructions `50xp`
---

**<h5>Possible Answers</h5>**
<input type="radio"> <code>df = 'disarea.dta'</code>\
<input type="radio"> <code>df = read_stata.pd('disarea.dta')</code>\
<input type="radio" checked> <code>df = pd.read_stata('disarea.dta')</code>\
<input type="radio"> <code>df = pd.read_stata(disarea.dta)</code>

---

In [1]:
# IPython Shell

import pandas as pd
df = pd.read_stata('00_4_disarea.dta')

In [2]:
df

,wbcode,country,disa1,disa2,disa3,disa4,disa5,disa6,disa7,disa8,...,disa16,disa17,disa18,disa19,disa20,disa21,disa22,disa23,disa24,disa25
0,AFG,Afghanistan,0.00,0.00,0.76,0.73,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.02,0.00,0.00
1,AGO,Angola,0.32,0.02,0.56,0.00,0.0,0.00,0.56,0.00,...,0.00,0.40,0.00,0.61,0.00,0.00,0.99,0.98,0.61,0.00
2,ALB,Albania,0.00,0.00,0.02,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.16
3,ARE,United Arab Emirates,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,ARG,Argentina,0.00,0.24,0.24,0.00,0.0,0.23,0.00,0.00,...,0.00,0.00,0.00,0.00,0.05,0.00,0.00,0.01,0.00,0.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,YEM,Yemen,0.00,0.03,0.00,0.00,0.0,0.00,0.24,0.09,...,0.00,0.19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
160,ZAF,South Africa,0.00,0.28,0.92,0.00,0.0,0.00,0.32,0.15,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00
161,ZAR,Zaire,0.95,0.00,0.88,0.00,0.0,0.00,0.84,0.86,...,0.66,0.85,0.85,0.85,0.03,0.04,0.90,0.99,1.00,0.00
162,ZMB,Zambia,0.16,0.16,0.44,0.00,0.0,0.00,0.53,0.41,...,0.00,0.00,0.00,0.44,0.00,0.00,0.15,0.02,0.75,0.00
163,ZWE,Zimbabwe,0.00,0.00,0.98,0.00,0.0,0.00,1.00,0.43,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.05,0.51,0.00